body,h1,h2,p{
  padding: 0;
  margin: 0;
}

header{
  padding: 6vh 4vh;
}

h1{
  font-size: 50px;
}

#container{
  display: flex;
  padding: 2vh 8vh;
  gap: 10vh
}

#containerScores{
  display: flex;
  flex-direction: column;
  gap: 3vh
}

#titleScores {
  display: flex;
  gap: 3vh;
}

#titleScores p{
  font-size: 25px;
  font-weight: 700;
}

#listScore{
  display: flex;
  flex-direction: column;
  width: 99%;
  border: solid 1px green;
  padding: 0;
}

#containerForm{
  display: flex;
  flex-direction: column;
}

#addScore{
  display: flex;
  flex-direction: column;
}

li{
  list-style: none;
  padding: 1vh;
}